ul, li {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul.side-nav li {
    display: block;
    padding: 10px 20px;
    transition: .3s;
}
ul.side-nav li.active, ul.side-nav li:hover {
    background-color: #eee;
}

.side-nav li a {
    color: #eee;
}
.side-nav li:hover a, .side-nav li.active a {
    color: #000;
}
.side-nav i {
    display: inline-block;
    margin-right: 5px;
}