/**
* Author: Benjamin Ojobo
* Github: https://github.com/benzics
*/
body,html,div,a,ul,li,span,form,header,aside,main{
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
}
* {
    box-sizing: border-box;
}
ul, li {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul.side-nav li {
    padding: .25rem 1.5rem;
    transition: .3s;
    list-style: none;
}
@media (max-width: 768px)
{
    ul.side-nav li {
        display: inline-block;
        padding: 10px 10px;
    }
}
ul.side-nav li.active a {
    color: #000;
    font-weight: 600;
}

.side-nav li a {
    color: rgba(0,0,0,0.65);
    display: block;
    font-weight: 90%;
}
.side-nav li:hover a, .side-nav li.active a {
    color: #000;
}
.side-nav i {
    display: inline-block;
    margin-right: 5px;
}
.v10 {
    border-bottom: 1px solid #ddd;
}

@media (min-width: 768px) {
    .v10 {
        min-height: 100vh;
        border-bottom: 0;
        border-right: 1px solid #ddd;
    }
    .vh {
        min-height: 90vh;
    }
    .fh {
        min-height: 100%;
    }
}
.brand {
    width: 50px;
}
th {
    text-transform: uppercase;
}
small {
    word-break: break-all;
}